.page-footer {
  @include sectionSet($p-top: 60px, $p-bot: 60px, $text-aln: none);
  margin: 0 auto;
  background-color: $footer-bg-color;
}

.footer-content {
  display: flex;
  align-items: baseline;
  gap: 93px;
}

.footer_wrap__title {
  display: block;
  margin-top: 0;

  width: 100%;

  text-transform: uppercase;
  font-weight: 700;

  color: $white-text-color;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;

  font-style: normal;
}

.footer-logo--margin {
  margin-bottom: 20px;
}
.logo-footer__text {
  color: $white-text-color;
}

.address-list__link {
  color: $primary-text-color;
}

.address-list__link--white {
  color: $white-text-color;
}

.footer-social {
  display: flex;
  width: 206px;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-social__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-wrap {
  width: 570px;
  align-items: center;
  margin-right: auto;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.foot-input-wrap {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;

  outline: none;

  color: $white-text-color;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.2;

    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    border-color: $brand-color;
  }

  &:not(:focus):not(:placeholder-shown):invalid {
    border-color: rgb(229, 119, 119);
  }
}

.footer-form_button {
  margin-left: auto;
  @include flex--center($type: inline-flex);
  gap: 10px;
  padding: 10px 28px;
}

.form-button__icon {
  fill: $white-icon-color;
}
